***GO_STP_71: SURAJ SANJEEV PAWAR***

**Goeduhub Technologies**<br>
***https://www.goeduhub.com/***

**Assignment/Task 2**<br>
***Online Summer training on Machine Learning & Data Science With Python***

###***Q.1 Is a list mutable?***

Answer.Yes,list is mutable ,it can e change.for example:

In [2]:
list_1= ['a', 'd', 'f']
list_1[1:1] = ['b', 'c']
print(list_1)
list_1[4:4] = ['e']
print(list_1)

['a', 'b', 'c', 'd', 'f']
['a', 'b', 'c', 'd', 'e', 'f']

###***Q.2 Does a list need to be homogeneous?***

Answer.No, a list need to be homogeneous.it is heterogerous as we can put any data such as integers, floats, strings, tuples, lists, and dictionaries  etc.for example:

In [4]:
list_1=[1,2,3,"Sam","John",98,100]
print(list_1)

[1, 2, 3, 'Sam', 'John', 98, 100]

###***Q.3 What is the difference between a list and a tuple.***

Answer. <br>
List:<br>
1.List is mutable.<br>
2.List iteration is slower and is time consuming.<br>
3.List is useful for insertion and deletion operations.<br>
4.List consumes more memory.	<br>
5.List provides many in-built methods.<br>
6.List operations are more error prone.<br>
<br>
Tuple:<br>
1.Tuple is immutable.<br>
2.Tuple iteration is faster.<br>
3.Tuple is useful for readonly operations like accessing elements.<br>
4.Tuples consumes less memory.<br>
5.Tuples have less in-built methods.<br>
6.Tuples operations are safe.<br>

###***Q.4 How to find the number of elements in the list?***

Answer.To find the number of elemnets in the list we can use len() function. for example :

In [ ]:
list_1= ['cat','dog','fish','hen','cow']
print(len(list_1))

5

###***Q.5 How to check whether the list is empty or not?***

In [ ]:
list_2= []
if len(list_2):
	print('List is not Empty')
else:
	print('List is Empty')

List is Empty

###***Q.6 How to find the first and last element of the list?***

Answer. To fin dthe first element of the given list,we can use A[0] and for last element we are use as A[-1].for example:

In [ ]:
list_3= ['cat','dog','fish','hen','cow']
print("The first element of the given list : ",list_3[0])
print("The last element of the given list : ",list_3[-1])

The first element of the given list :  cat
The last element of the given list :  cow

###***Q.7 How to find the largest and lowest value in the list?***

In [ ]:
list_4=[1,28,90,87,26,1,72]
print(min(list_4))
print(max(list_4))

1
90

**OR**

In [ ]:
list_4=[]
a= int(input('How many elements do you want?'))
for i in range(a):
    n = int(input('Enter a elements '))
    list_4.append(n)
print("Maximum element in the list is :",max(list_4))
print("Minimum element in the list is :",min(list_4))2

How many elements do you want?5
Enter a elements 1
Enter a elements 8
Enter a elements 90
Enter a elements 87
Enter a elements 26
Maximum element in the list is : 90
Minimum element in the list is : 1

###***Q.8 How to access elements of the list?***

Answer. To access elements form the lists,for that we are using slicing along with the index or indices to obtain value available at that index. For example −

In [ ]:
list_1= ['cat','dog','fish','hen','cow']
list_4=[1,28,90,87,26,1,72]
print ("list1[0]:",list_1[0])
print ("list4[1:5]:",list_4[1:5])

list1[0]: cat
list4[1:5]: [28, 90, 87, 26]

###***Q.9 Remove elements in a list before a specific index?***

In [ ]:
list_1= ['cat','dog','fish','hen','cow']
print(list_1.remove('dog'))
print(list_1)

None
['cat', 'fish', 'hen', 'cow']

**OR**

In [ ]:
list_1= ['cat','dog','fish','hen','cow']
print(list_1.pop(1))
print(list_1)

dog
['cat', 'fish', 'hen', 'cow']

###***Q. 10 Remove elements in a list between 2 indices?***

In [ ]:
list_2=[1,2,4,5,6,7]
del list_2[1:3]
print(list_2)

[1, 5, 6, 7]

###***Q.11 Return every 2nd element in a list between 2 indices?***

In [ ]:
list_2=[1,2,4,5,6,7]
for i in range(1,5,2):
  print(i)

1
3

###***Q.12 Get the first element from each nested list in a list***

In [ ]:
list_5=[1,[1,2,3],2,3,4,5]
print(list_5[1][0])

1

###***Q 13.How to modify elements of the list?***

In [ ]:
list_5=[1,[1,2,3],2,3,4,5]
print(list_5)
list_5[2]='suraj'
print(list_5)

[1, [1, 2, 3], 2, 3, 4, 5]
[1, [1, 2, 3], 'suraj', 3, 4, 5]

###***Q.14 How to concatenate two lists?***

In [ ]:
list1=[1,2,3]
list2=[4,5,6]
print(list1+list2)

[1, 2, 3, 4, 5, 6]

###***Q.15 How to add two lists element-wise in python?***

In [ ]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
sum_list = [a + b for a, b in zip(list1, list2)]
print(sum_list)

[5, 7, 9]

###***Q.16 Difference between del and clear?***

Anaswer.<br>
del:<br>
To remove items by index or slice we can use the del method in python .you can also remove elements from a list with del statements.<br>
Note: It removes the specified index element.

In [5]:
list1 = [[1, 3], 40, 9, 6, 8, 4, 60,]
del list1[3]  
print(list1)

[[1, 3], 40, 9, 8, 4, 60]

clear():<br> 
clear() method in python is used to empty the entire list. this can be used if someone wants an empty list for any other purpose.

In [6]:
list1 = [[1, 3], 40, 9, 6, 8, 4, 60,]
print(list1)
list1.clear()
print(list1)

[[1, 3], 40, 9, 6, 8, 4, 60]
[]

###***Q.17 Difference between remove and pop?***

Answer.<br>
remove():<br>
remove() is an inbuilt function in Python programming language that removes a given object from the list. It removes the object from the list. It does not return any value.<br>
Note: It removes the first occurrence of the object from the list. It does not deal with the index.

In [8]:
list1 = ["apple", "banana", "cherry"]         
list1.remove("banana")         
print(list1)

['apple', 'cherry']

pop():<br> 
The pop() method removes the item at the given index from the list and returns  the removed item.<br>

In [9]:
list_1 = [78, "a", 89,  "b", "z" , 1, 20, 3, 4, "m" ]
print(list_1)
list_1.pop()
print(list_1)

[78, 'a', 89, 'b', 'z', 1, 20, 3, 4, 'm']
[78, 'a', 89, 'b', 'z', 1, 20, 3, 4]

###***Q.18 Difference between append and extend?***

In [10]:
#append: Appends object at the end.
x = [1, 2, 3]
x.append([4, 5])
print(x)

[1, 2, 3, [4, 5]]

In [12]:
#extend: Extends list by appending elements from the iterable.
x = [1, 2, 3]
x.extend([4, 5])
print(x)

[1, 2, 3, 4, 5]

In [13]:
#combination example
li = ['a', 'b', 'mpilgrim', 'z', 'example']
print(li)
li.append("new")
print(li)
li.append(["new", 2])
print(li)
li.extend(["two", "elements"])
print(li)

['a', 'b', 'mpilgrim', 'z', 'example']
['a', 'b', 'mpilgrim', 'z', 'example', 'new']
['a', 'b', 'mpilgrim', 'z', 'example', 'new', ['new', 2]]
['a', 'b', 'mpilgrim', 'z', 'example', 'new', ['new', 2], 'two', 'elements']

Python append() method adds an element to a list.<br>
extend() method concatenates the first list with another list (or another iterable). <br>
When append() method adds its argument as a single element to the end of a list, the length of the list itself will increase by one. <br>
Whereas extend() method iterates over its argument adding each element to the list, extending the list. The length of the list will increase by however many elements were in the iterable argument.

###***Q.19 Difference between indexing and Slicing?***

Indexing: Indexing is used to obtain individual elements.<br>
Indexing starts from 0.<br>
Index 0 represents the first element in the sequence.<br>
Negative indexing starts from -1. Index -1 represents the last element in the sequence.

In [16]:
s="Python"
print (s[0])#Output:P
print (s[-1])#Output:n
print (s[-2])#Output:o

P
n
o

Slicing: Slicing is used to obtain a sequence of elements.

In [15]:
#Slicing :It's allows you to obtain substring
s='Python'
print (s[1:3])
#Output:yt

yt

###***Q.20 Difference between sort and sorted?***

The primary difference between the list sort() function and the sorted() function is that :<br>
the sort() function will modify the list it is called on. <br>
The sorted() function will create a new list containing a sorted version of the list it is given. <br>
The sorted() function will not modify the list passed as a parameter. If you want to sort a list but still have the original unsorted version, then you would use the sorted() function. <br>
If maintaining the original order of the list is unimportant, then you can call the sort() function on the list.

A second important difference is that the sorted() function will return a list so you must assign the returned data to a new variable.<br>
The sort() function modifies the list in-place and has no return value.

In [24]:
vegetables = ['squash', 'pea', 'carrot', 'potato']
print("actual list:",vegetables)#actual list
new_list = sorted(vegetables)
print("using sorted function():",new_list)# return the sorted list
print("using sorted return same list:",vegetables)# return the same list only
vegetables.sort()#using sort
print("using sort function() it return new list:",vegetables)#it retuen the different list(or change list)

actual list: ['squash', 'pea', 'carrot', 'potato']
using sorted function(): ['carrot', 'pea', 'potato', 'squash']
using sorted return same list: ['squash', 'pea', 'carrot', 'potato']
using sort function() it return new list: ['carrot', 'pea', 'potato', 'squash']

sorted():<br>
This method doesn’t change the original list.<br>
Return Type :returns a sorted list.<br><br>
sort():<br>
This method makes changes to the original sequence.<br>
Return Type :returns none, has no return value.

###***Q.21 Difference between reverse and reversed?***

The reversed() function returns the reversed iterator of the given sequence.

In [31]:
# for string
seq_string = 'Python'
print(list(reversed(seq_string)))
print(seq_string)

# for tuple
seq_tuple = ('P', 'y', 't', 'h', 'o', 'n')
print(list(reversed(seq_tuple)))

# for range
seq_range = range(5, 9)
print(list(reversed(seq_range)))

# for list
seq_list = [1, 2, 4, 3, 5]
print(list(reversed(seq_list)))

['n', 'o', 'h', 't', 'y', 'P']
Python
['n', 'o', 'h', 't', 'y', 'P']
[8, 7, 6, 5]
[5, 3, 4, 2, 1]

The reverse() method reverses the elements of the list.

In [30]:
# Operating System List
systems = ['Windows', 'macOS', 'Linux']
print('Original List:', systems)

# List Reverse
systems.reverse()

# updated list
print('Updated List:', systems)
print(systems)

Original List: ['Windows', 'macOS', 'Linux']
Updated List: ['Linux', 'macOS', 'Windows']
['Linux', 'macOS', 'Windows']

###***Q.22 Difference between copy and deepcopy?***

Shallow Copy<br>
A shallow copy creates a new object which stores the reference of the original elements.<br>
So,a shallow copy doesn't create a copy of nested objects, instead it just copies the reference of nested objects. This means, a copy process does not recurse or create copies of nested objects itself.

In [34]:
import copy

old_list = [[1, 1, 1], [2, 2, 2], [3, 3, 3]]
new_list = copy.copy(old_list)

old_list.append([4, 4, 4])

print("Old list:", old_list)
print("New list:", new_list)

New list: [[1, 1, 1], [2, 2, 2], [3, 3, 3]]
Old list: [[1, 1, 1], [2, 2, 2], [3, 3, 3], [4, 4, 4]]
New list: [[1, 1, 1], [2, 2, 2], [3, 3, 3]]

Deep Copy<br>
A deep copy creates a new object and recursively adds the copies of nested objects present in the original elements.<br>

However, we are going to create deep copy using deepcopy() function present in copy module. The deep copy creates independent copy of original object and all its nested objects.

In [32]:
import copy

old_list = [[1, 1, 1], [2, 2, 2], [3, 3, 3]]
new_list = copy.deepcopy(old_list)

old_list[1][0] = 'BB'

print("Old list:", old_list)
print("New list:", new_list)

Old list: [[1, 1, 1], ['BB', 2, 2], [3, 3, 3]]
New list: [[1, 1, 1], [2, 2, 2], [3, 3, 3]]

###***Q.23 How to remove duplicate elements in the list?***

In [35]:
mylist = ["a", "b", "a", "c", "c"]
mylist = list(dict.fromkeys(mylist))
print(mylist)

['a', 'b', 'c']

###***Q.24 How to find an index of an element in the python list?***

The index() method returns the index of the given element in the list.
If the element is not found, a ValueError exception is raised.

In [36]:
# vowels list
vowels = ['a', 'e', 'i', 'o', 'i', 'u']

# index of 'e' in vowels
index = vowels.index('e')
print('The index of e:', index)

# element 'i' is searched
# index of the first 'i' is returned
index = vowels.index('i')

print('The index of i:', index)

The index of e: 1
The index of i: 2

###***Q.25 How to find the occurrences of an element in the python list?***

In [37]:
a_list = ["a", "b", "a"]
occurrences = a_list.count("a")
print(occurrences)

2

In [42]:
import collections
a_list = ["a", "b", "a"]
occurrencess = collections.Counter(a_list)
print(occurrencess)

Counter({'a': 2, 'b': 1})

###***Q.26 How to insert an item at a given position?***

In [44]:
# List of string 
list1 = ['Hello' ,  'Everyone', 'My', 'is ', 'Suraj', 'Sanjeev','Pawar']
# Add an element at 3rd position in the list
list1.insert(3, 'Name')
print(list1)

['Hello', 'Everyone', 'My', 'Name', 'is ', 'Suraj', 'Sanjeev', 'Pawar']

###***Q.27 How to check if an item is in the list?***

In [46]:
list1= [10, 15, 20, 7, 46, 2808]
print("Checking if 15 exists in list1")
exist_count = list1.count(15)
 # checking if it is more then 0
if exist_count > 0:
    print("Yes, 15 exists in list1")
else:
    print("No, 15 does not exists in list1")

Checking if 15 exists in list1
Yes, 15 exists in list1

###***Q.28 How to flatten a list in python?***

In Python, a list of lists resembles a two-dimensional array - although Python doesn't have a concept of the array as in C or Java. Hence, flattening such a list of lists means getting elements of sublists into a one-dimensional array-like list. For example, a list [[1,2,3],[4,5,6]] is flattened into [1,2,3,4,5,6].

In [47]:
nestedlist = [ [1, 2, 3, 4], ["Ten", "Twenty", "Thirty"], [1.1,  1.0E1, 1+2j, 20.55, 3.142]]
flatlist=[element for sublist in nestedlist for element in sublist]
print(flatlist)

[1, 2, 3, 4, 'Ten', 'Twenty', 'Thirty', 1.1, 10.0, (1+2j), 20.55, 3.142]

###***Q.29 How to convert python list to other data structures like set, tuple, dictionary?***

In [50]:
#list to tuple
def convert(list):
    return tuple(list)
# Driver function
list = [1, 2, 3, 4]
print(convert(list))

(1, 2, 3, 4)

In [52]:
#list to set
listOfStudents=['Mohan','John','Ramesh','Mohan','John']
print("List of Students:",listOfStudents)
uniqueNames=set(listOfStudents)
print("Set of uniqueNames:",uniqueNames)
 
listOfMarks=[8,7,6,7,8,8,7,6,7,8,9]
print("List of Makrs:",listOfMarks)
setOfMarks=set(listOfMarks)
print("Set of marks:",setOfMarks)

List of Students: ['Mohan', 'John', 'Ramesh', 'Mohan', 'John']
Set of uniqueNames: {'Mohan', 'John', 'Ramesh'}
List of Makrs: [8, 7, 6, 7, 8, 8, 7, 6, 7, 8, 9]
Set of marks: {8, 9, 6, 7}

In [51]:
#list to dictionary:We can convert the list into dictionary using the dictionary comprehension.
list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]  
square_dict = {n: n*n for n in list1}  
print(square_dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

###***Q.30 How to apply a function to all items in the list?***

Call map(func, *iterables) with a list as *iterables to apply func to each element of the list and return a map object. Use list() to convert the map object to a list.

In [49]:
a_list = ["a", "b", "c"]
map_object = map(str.upper, a_list)
new_list = list(map_object)
print(new_list)

['A', 'B', 'C']

###***Q.31 How to filter the elements based on a function in a python list?***

The filter() function iterates over the elements of the list and applies the fn() function to each element. It returns an iterator for the elements where the fn() returns True .

In [48]:
scores = [70, 60, 80, 90, 50]
filtered = filter(lambda score: score >= 70, scores)
print(list(filtered))

[70, 80, 90]

###***Q.32 How python lists are stored in memory?***

The list is the fundamental linked data structure, whereas the array is the fundamental sequentially-allocated data structure. Lists, then, are stored in distinct chunks of memory which are linked together with pointers, which enables efficient use of memory generally and doesn't require resizing.

***Thank you Mam and Goeduhub Technologies***